<h1>Create a Team and Heros!</h1>

<form action="/teams" method"post">

  <input type="text" name="team[name]">
  <input type="text" name="team[motto]">

  <h2>Hero 1</h2>
  <input type="text" name="team[hero][][name]">
  <input type="text" name="team[hero][][power]">
  <input type="text" name="team[hero][][bio]">

  <h2>Hero 2</h2>
  <input type="text" name="team[hero][][name]">
  <input type="text" name="team[hero][][power]">
  <input type="text" name="team[hero][][bio]">

  <h2>Hero 3</h2>
  <input type="text" name="team[hero][][name]">
  <input type="text" name="team[hero][][power]">
  <input type="text" name="team[hero][][bio]">

  <button type="submit">Submit</button>
</form>
