
<form action="/team" method"post">
  <h1>Create a Team and Heros</h1>
  <input id="" type="text" name="name">
  <input id="" type="text" name="motto">

  <h2>Hero 1</h2>
  <input id="hero_1_name" type="text" name="name">
  <input id="hero_1_power" type="text" name="power">
  <input id="hero_1_bio" type="text" name="bio">

  <h2>Hero 2</h2>
  <input id="hero_2_name" type="text" name="name">
  <input id="hero_2_power" type="text" name="power">
  <input id="hero_2_bio" type="text" name="bio">

  <h2>Hero 3</h2>
  <input id="hero_3_name" type="text" name="name">
  <input id="hero_3_power" type="text" name="power">
  <input id="hero_3_bio" type="text" name="bio">

  <button type="submit">Submit</button>
</form>